.title{
  color: rgb(0, 0, 0);
  margin-left: 11%;
  padding: auto;
}
table.infoTable td{

  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
  height: 12px;

}
table.infoTable td input{
  height: 52px;
  color: white;
  text-align: left;

  background-color: rgb(92, 92, 92);
  border-radius: 5%;
  width: 100%;
}
.inputData{
  margin-left: 12%;
  background-color: #8ff6c653;
  margin: auto;
  width: 90%;
  padding: 10px;
  border-radius: 5%;

}

.avail{
  border: 1px solid #8ff6c6;
  margin: auto;
  width: 80%;
  padding: 10px;
 height: 370px;
 border-radius: 5%;
 background-color: #7aabfa4b;
 overflow-y: scroll;


}

#marq{
  padding: 1px;
  background-color: hsla(351, 26%, 95%, 0);
  margin-bottom: -680px;
  height:0%;
  width: 99%;
  display: flex;
  justify-content: center;



}



#search{
 margin-left: 90%;
}

.l-oneWay{
  padding: 1%;
}
.l-roundTrip{
  padding: 0%;
}

.footer {
  background-color: #f2f2f2;


  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.page-container{

height: 500px;
}
#container {
  border: 1px solid black;
  box-sizing:border-box;
  background-color: #d4d4d4;
  text-align: center;

  bottom: 0;
  left:0;
  height: 40px;
  width: 100%;
  position: fixed;
   z-index: 1;

}
#srch{
  background-color: #0ef388;
}

.outer-list{
  background-color: #f4fbf869;
  border: 1px solid black;
  border-radius: 10%;
  position: flex;
  align-items: center;
  height: 80px;
}

.inner-list td{

  text-align: center;
  position:flex;
  font-size: 15px;

  background-color: #c1f9df;
  width:30%;
  border-radius: 13%;
  box-shadow: #96377e;
height: 71px;


}
.bookings{
  background-color: rgb(120, 120, 234);
  color: #f2f2f2;
}
#bk-label{
  font-size: small;
  background: green($color: #000000);
  color:rgb(120, 120, 234);
}


